body{
    margin: 0;
    padding: 0;
    background: black;
}
h1{
    color: white;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    max-height: 100%;   
}

.Foto{
    max-width: 70%;
    max-height: 70%;
    
}
.container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    
  }